<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./logs"/>
    <!-- 控制台输出 -->
    <!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
    <!--            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %70logger{70}:%-3line - %msg%n%throwable</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <conversionRule conversionWord="traceId" converterClass="com.netby.retry.biz.log.IdConvert"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %70logger{70}:%-3line - traceId:[%traceId] %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="com.netby"/>
    <logger level="ERROR" name="com.alibaba.nacos"/>
    <!-- 日志输出级别 -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
